# Bootstrapped by the terraform-github-security-repo module. This
# repo owns the file after the first apply; edit freely. One SPDX license
# id per line. Consumed by `license-checker --onlyAllow` in the dep-license
# gate of .github/workflows/license.yml. Add ids here when a production
# dependency reports a license not yet listed.
%{ for id in allow ~}
${id}
%{ endfor ~}
